<h1 class="fs-30 fw-6 gradient-text">APEX CHESS</h1>
<h4 class="fs-20 fw-5 white">Signup</h4>
<form>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>User Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-raised-button class="bg-gradient fs-16 fw-5 w-100 py-2 mb-3">SignUp</button>
</form>
<a routerLink="/auth/login" class="fs-14 fw-4 gradient-text mt-3" style="text-decoration: none;cursor: pointer;">Login</a>
