
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif !important;
}

@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: 1px * $i;
  }
}


@for $i from 1 through 9 {
  .fw-#{$i} {
    font-weight: $i * 100;
  }
}

.bg-custom-dark{
  background-color: #0F0F0F;
}

.gradient-text {
  background-image: linear-gradient(to right, #3494e6, #ec6ead);;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

.white{
  color: #F6F6F6;
}

.bg-gradient{
  background: linear-gradient(to right, #3494e6, #ec6ead);;
}